.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-tasks {
  max-width: 500px;
  height: 370px;
  border: 2px solid cornsilk;
  padding: 30px;
  border-radius: 10px;
  margin: 30px 20px;
}